.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 3px solid gray;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px;
  border-radius: 5%;
  border: none;
  background-color: transparent;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button.delete {
  background-color: rgb(230, 109, 109);
}

.button.edit {
  background-color: rgb(83, 49, 233);
}

.button.more {
  background-color: rgb(25, 150, 20);
}
